<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>womwom</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />

</head>

<body>
    <div class="w-screen h-screen fixed backdrop-blur-xl bg-transparent top-0 left-0 flex items-center justify-center">
        <div class="absolute top-4 right-4">
            <span
                class="material-symbols-outlined cursor-pointer  text-4xl text-blue-600 active:opacity-[0.5] select-none ">
                upload
            </span>
            <span
                class="material-symbols-outlined cursor-pointer text-4xl text-green-600 active:opacity-[0.5] select-none ">
                content_copy
            </span>
            <span
                class="material-symbols-outlined cursor-pointer text-4xl text-red-600 active:opacity-[0.5] select-none ">
                favorite
            </span>

        </div>

        <div class="">
            <textarea name="task_put" id="task_put" onload="(e)=> {e.target.value = ''}"
                class="text-4xl font-bold no-scrollbar text-center h-auto resize-none overflow-hidden outline-none"
                oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"
                placeholder="Text Here...">

            </textarea>
        </div>
    </div>

</body>

</html>