<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="w-screen h-screen fixed backdrop-blur-xl bg-transparent top-0 left-0 flex items-center justify-center">
        <div class="">
            <h1 id="container"
                class="text-4xl font-bold no-scrollbar text-center h-auto resize-none overflow-hidden outline-none font-adder">
                {{note}}</h1>
        </div>
    </div>
    <script>
        var font = "{{ font }}";
        const container = document.getElementById("container");
        container.classList.add(font)
    </script>


</body>

</html>